<div class="f-controls">
	<div class="f-control f-control-home" >
		<svg role="img" title="home" class="home svg-icon ">
		    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/svg-icons-sprite.svg#home"></use>
		</svg>
	</div>
	<div class="f-control-fabricator">
		<div class="f-control f-global-control" data-f-toggle-control="labels" title="Toggle Labels">
			<svg role="img" title="text" class="text svg-icon ">
			    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/svg-icons-sprite.svg#text"></use>
			</svg>
		</div>
		<div class="f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
			<svg role="img" title="bubble" class="bubble svg-icon ">
			    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/svg-icons-sprite.svg#bubble"></use>
			</svg>
		</div>
		<div class="f-control f-global-control" data-f-toggle-control="code" title="Toggle Code">
			<svg role="img" title="code" class="code svg-icon ">
			    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/svg-icons-sprite.svg#code"></use>
			</svg>
		</div>		
	</div>

</div>
