/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// SECTION
//  

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - VP320
// - VP480
// - VP768
// - VP1024
// - VP1280  
// - VP1440
// - VP1700  
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////



//////// CLASS NAME
$className: o-case-doing;


.#{$className}{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////


@include VP320 {


// - - General
		min-height: 100vh;


		display: flex;
		align-items: center;
		text-align: center;

		.label {
			font-family: $font-a;
			font-size: 32px;
			line-height: 1;
			margin-bottom: 1.2em;
		}

		.gc .g-4 {
			margin: 0;
		}

		.gc {
			max-width: 75rem;
		}

		.xl {
			font-family: $font-a;
			font-size: 102px;
			margin: .5em 0;
			font-weight: bold;
			color: #ddd;
		}

		.body {
			width: 100%;
		}







// - - Interaction (States)

/*
			.touch &{
			    &:active{

			    }
			}

			.no-touch &{
			    &:hover{

			    }
			    &:active{

			    }
			}

			&:focus{

			}
*/






} // VP320 END





////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	


} // VP480 END


////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {

	

} // VP768 END


////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024{
	
	
		
} // VP1024 END


////////////////////////////////////////////////////////////////
// VP1280 
////////////////////////////////////////////////////////////////

@include VP1280 {
	

	
} // VP1280 END


////////////////////////////////////////////////////////////////
// VP1680
////////////////////////////////////////////////////////////////

@include VP1680 {
	
	

	
} // VP1680 END


////////////////////////////////////////////////////////////////
// VP1680
////////////////////////////////////////////////////////////////

@include VP1920 {
	
	

	
} // VP1920 END


////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
		
	.ie-8 &{
		
	}

	.msie-9 &{
		
	}

} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
	.no-js &{
		
	}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














