
//
// C-PLACEHOLDER
//

//////////////////////////////////////////////////////
// - Table of contents
//////////////////////////////////////////////////////
//
// - VP320
//
//////////////////////////////////////////////////////

//////// CLASS NAME
$className: m-teaser;


a.#{$className} {

	@include VP320 {


		&:hover {

			.body {
				z-index: 1;
				background: rgba(0,0,0,.55);
				opacity: 1;
			}


			.text {
				@include transform(translateY(0px));
				position: relative;
				top: 45%;
			}
			figure {
				opacity: 1;
				//@include transform(translateY(0px));
			}
		}

	}
}



.#{$className} {

//////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
//////////////////////////////////////////////////////


	@include VP320 {

		position: relative;
		display: block;
		text-align: center;
		background: $grey;
		overflow: hidden;
		height:auto;
		background-size: cover;
		@include aspect-ratio-img(4,3);


	// - - Children

		div {
			text-align: center;
			margin: 0;
			padding: 0;
			font-family: $font-a;
		}

		.header {
			text-transform: uppercase;
			color: rgba(0,0,0,.36);
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin:0;
		}

		img {
			width:100%;
			height: auto;
		}


		.body {
			z-index: -1;
			display: block;
			font-size: 20px;
			color: $white;
			position: absolute;
			top:0;
			left:0;
			height: 100%;
			width: 100%;
			font-family: $font-b;
			text-align: left;
			background: rgba(0,0,0,0);
			opacity: 0;
			@include transition(all  .375s ease-out);
		}

		.content{
			position: absolute;
			bottom:0;
			left:0;
			width: 100%;
			height: 100%;		
		}

		.text {
			padding: 0 25px 25px;
			@include transform(translateY(20px));
			@include transition(all .375s ease-out);

			b {
				display: block;
				padding-bottom: 6px; 
			}
		
		}

		.article-text-cnt {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding:0 3rem;
		}

		.article-text-title {
			font-family: 'apercuregular';
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			&--light {
				color: #fff;
			}
			&--blue3 {
				color: $blue3;
			}
			&::hover {
				text-decoration: underline;
			}
		}

		.article-link-cnt {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			padding: 1rem;
		}
		
		.article-label {
			font-family: $font-b;
			font-size: 1.2rem;
			position: absolute;
			bottom: 0;
			left: 1rem;
			//text-decoration: underline;

			&--light {
				color: #fff;
			}
			&--blue3 {
				color: $blue3;
			}
			span {
				display: block;
				text-align: left;
				text-decoration: underline;
			}
		}

		


	
	// - - BG

		&.-can-riga{
			background-image:url(/assets/images/case-video-can.jpg);
			&.-icon {
				svg {
			    	width: 50%;
				}
			}
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-can-riga{background-image:url(/assets/images/case-video-can@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-can-riga{background-image:url(/assets/images/case-video-can@3x.jpg);}
		}


		&.-boxer{
			background-image:url(/assets/images/casebild-boxer.jpg);
			&.-icon {
				svg {
			    	width: 50%;
				}
			}
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-boxer{background-image:url(/assets/images/casebild-boxer@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-boxer{background-image:url(/assets/images/casebild-boxer@3x.jpg);}
		}



		&.-nokeducation{
			background-image:url(/assets/images/casebild-nokedu.jpg);
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-nokeducation{background-image:url(/assets/images/casebild-nokedu@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-nokeducation{background-image:url(/assets/images/casebild-nokedu@3x.jpg);}
		}

		&.-nokpublication{
			background-image:url(/assets/images/casebild-nokpub.jpg);
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-nokpublication{background-image:url(/assets/images/casebild-nokpub@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-nokpublication{background-image:url(/assets/images/casebild-nokpub@3x.jpg);}
		}





		&.-viasatsport {
			background-image:url(/assets/images/casebild-viasport.jpg);
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-viasatsport {background-image:url(/assets/images/casebild-viasport@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-viasatsport {background-image:url(/assets/images/casebild-viasport@3x.jpg);}
		}

		&.-lf {
			background-image:url(/assets/images/casebild-lf.jpg);
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
		    &.-lf {background-image:url(/assets/images/casebild-lf@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
		    &.-lf {background-image:url(/assets/images/casebild-lf@3x.jpg);}
		}

		&.-vattenfall {
			background-image:url(/assets/images/casebild-incharge.jpg);
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
		    &.-vattenfall {background-image:url(/assets/images/casebild-incharge@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
		    &.-vattenfall {background-image:url(/assets/images/casebild-incharge@3x.jpg);}
		}

		&.-sf-kids {
			background-image:url(/assets/images/casebild-sf-kids.png);
		}

		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
		    &.-sf-kids {background-image:url(/assets/images/casebild-sf-kids@2x.png);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
		    &.-sf-kids {background-image:url(/assets/images/casebild-sf-kids@3x.png);}
		}


		&.-prototypeTV {
			background-image:url(/assets/images/article_prototypingTV.jpg);
		}
		
		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-prototypeTV {background-image:url(/assets/images/article_prototypingTV@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-prototypeTV {background-image:url(/assets/images/article_prototypingTV@3x.jpg);}
		}

		&.-bubbles {
			background-image:url(/assets/images/article_bubbles.jpg);
		}
		
		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-bubbles {background-image:url(/assets/images/article_bubbles@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-bubbles {background-image:url(/assets/images/article_bubbles@3x.jpg);}
		}

		&.-pomodoro {
			background-image:url(/assets/images/article_pomodoro.jpg);
		}
		
		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-pomodoro {background-image:url(/assets/images/article_pomodoro@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-pomodoro {background-image:url(/assets/images/article_pomodoro@3x.jpg);}
		}

		&.-spiderPeople {
			background-image:url(/assets/images/article_spiderPeople.jpg);
		}
		
		/* @2x Images (Pixel Ratio of 1.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 5/4),
		       only screen and (-webkit-min-device-pixel-ratio: 1.25),
		       only screen and (min-device-pixel-ratio: 1.25),
		       only screen and (min-resolution: 1.25dppx) {
			&.-spiderPeople {background-image:url(/assets/images/article_spiderPeople@2x.jpg);}
		}

		/* @3x Images (Pixel Ratio of 2.25+) */
		@media only screen and (-o-min-device-pixel-ratio: 9/4),
		       only screen and (-webkit-min-device-pixel-ratio: 2.25),
		       only screen and (min-device-pixel-ratio: 2.25),
		       only screen and (min-resolution: 2.25dppx) {
			&.-spiderPeople {background-image:url(/assets/images/article_spiderPeople@3x.jpg);}
		}

	// - - Modifiers

		// Icon

		&.-icon {
			position: relative;

			figure {
				margin: 0;
				display: inline-block;
				opacity: 0;
				width:90%;
				max-height: 10rem;
				//@include transform(translateY(50px));
				@include transition(all  .375s ease-out );
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
			}

			svg {
				
				fill: $white;
				height: 10rem;
				width: 100%;
				
			}
		}

		// Size

		&.-grid {
			position: relative;
			height: 0;
			padding: 0;
			background: rgba(0, 0, 0, 0);

			&:before {
				content: "";
				width: 100%;
				height: 1000rem;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(153, 204, 153, .1);
			}

			&.-odd {
				&:before {
					background: rgba(153, 204, 153, .2);
				}
			}

		}

		&.-content {
			height: auto;
			@include aspect-ratio-img(1, 2);
		}

		&.-mini {
			height: auto;
			padding: 1.5rem 0;
			font-size: .75rem;
		}

		&.-diff {
			background: $grey2;
		}

		&.-puff {
			height: auto;
			@include aspect-ratio-img(2.35, 1);
		}

		&.-ratio-2_35-1 {
			height: auto;
			@include aspect-ratio-img(2.35, 1);
		}

		&.-ratio-16-9 {
			height: auto;
			@include aspect-ratio-img(16, 9);
		}

		&.-ratio-1-1 {
			height: auto;
			@include aspect-ratio-img(1, 1);
		}

		&.-ratio-1-2 {
			height: auto;
			@include aspect-ratio-img(1, 2);
		}

		&.-ratio-1-3 {
			height: auto;
			@include aspect-ratio-img(1, 3);
		}

		&.-text-large {
			.text {
				font-size: 30px;
			}
		}

		&.-text-small {
			.text {
				font-size: 14px;
			}
		}

		// Color
		&.-ad {
			background: $link;
		}



		// Color
		&.-grey {
			background-color: $grey;

		}

		&.-blue1 {
			background-color: $blue1;

		}

		&.-blue2 {
			background-color: $blue2;
		
		}

		&.-blue3 {
			background-color: $blue3;

		}

		&.-green {
			background-color: $green;
		
		}

		&.-yellow {
			background-color: $yellow;

		}

		&.-pink {
			background-color: $pink;

		}
		&.-pinklight {
			background-color: $pinklight;

		}

		



	} // VP320 END



//////////////////////////////////////////////////////
////// END

} // END














