/* Typoghraphy */

.fabricator {
	
	.f-h1,
	.f-h2,
	.f-h3,
	.f-h4,
	.f-h5,
	.f-h6 {
		font-family: 'Oswald', sans-serif;
	}

	.f-h1 {
		font-size: 4rem;
		margin: 110px 0 40px;
	}
	.f-h2 {
		font-size: 2rem;
	}
	.f-h3 {
		font-size: 1.5rem;
	}
	.f-h4 {
		font-size: 1.7rem;
	}
	.f-h5 {
		font-size: 1.4rem;
	}
	.f-h6 {
		font-size: 1.1rem;
	}
}






